apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-data
  namespace: "{{ mysql_namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ mysql_storage_size }}"
