apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: "{{ mysql_namespace }}"
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
  MYSQL_DATABASE: "{{ mysql_database }}"
